{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Campañas</title>
  <link rel="stylesheet" href="{% static 'styles1.css' %}">  
</head>
<body>
  <header>
    <h2>tabasco.gob.mx</h2>

    <ul class="main-menu">
      <li class="menu-item"><a class="active" href="/members">Inicio</a></li>
      <li class="menu-item"><a href="/members/origen">Origen</a></li>
      <li class="menu-item"><a href="/members/formas">Formas de Violencia</a></li>
      <li class="menu-item"><a href="/members/campañas">Campañas</a></li>
      <li class="menu-item"><a href="/members/quehacer">¿Qué hacer en contra de la violencia de genero?</a></li>
    </ul>
  </header>
  <div class="container">
    <div class="section">
      <div class="col span_2_of_3">
        <div class="blog-post">
          <h1 class="blog-title">Campaña 2022: ¡ÚNETE! Activismo para poner fin a la violencia contra las mujeres y las niñas</h1>
          <h2>_</h2>
          <img src="{% static 'bannerviolencia.png' %}" alt="">
          <h2>_</h2>
          <p class="blog-content">
            En 2022 se hace un llamamiento a todos los miembros de la sociedad para que se hagan activistas de esta causa contra la violencia, apoyen a las defensoras de los derechos de la mujer y a los movimientos feministas, con el único objetivo de acabar con la violencia contra las mujeres. Habrá un acto oficial el miércoles, 23 de noviembre(10.00-11.30am ET). Puedes seguir el evento en línea a través delcanal de YoutubedeONU Mujereso a través deONU Web TV.
          </p>
        </div>
        <div class="blog-post">
          <h1 class="blog-title">Campaña 2021 ÚNETE: "Pinta el mundo de naranja: pon fin a la violencia contra las mujeres hoy"</h1>
          <h2>_</h2>
          <img src="{% static 'campaña21.png' %}" alt="">
          <h2>_</h2>
          <p class="blog-content">
            Anualmente se selecciona un lema para conmemorar este Día Internacional. Paralelamente, la Organización de las Naciones Unidas conmemora los 16 días de activismo contra la violencia de género, desde el 25 de noviembre hasta el 10 de diciembre.         
          </p>
          <h2>_</h2>
          <p class="blog-content">
            El lema de la campaña para el año 2021 fue ÚNETE: "Pinta el mundo de naranja: pon fin a la violencia contra las mujeres hoy".          
          </p>
          <h2>_</h2>
          <p class="blog-content">
            Con ello se hará énfasis en la prevención ante las cifras alarmantes sobre la violencia de género: una de cada tres mujeres ha sido víctima de abuso en su vida. Se ha demostrado que en situaciones de crisis humanitarias, catástrofes climáticas, pandemias y conflictos estas cifras se incrementan.
          </p>
          <h2>_</h2>
          <p class="blog-content">
            Es de vital importancia poner fin a estas situaciones de violencia, mediante la adopción de enfoques integrales e inclusivos que aborden las causas que lo generan, empoderando a las mujeres y las niñas.
          </p>
          <h2>_</h2>
          <p class="blog-content">
            Se requiere brindar servicios esenciales a las víctimas por violencia de género en los sectores policial, judicial, sanitario y social, así como aportar el financiamiento necesario para la agenda de los derechos de las mujeres.
          </p>
        </div>
        <div class="blog-post">
          <h1 class="blog-title">Campaña 2020: la "pandemia" en la sombra</h1>
          <h2>_</h2>
          <img src="{% static 'campaña20.png' %}" alt="">
          <h2>_</h2>
          <p class="blog-content">
            Las estadísticas indican que una de cada tres mujeres sufre violencia sexual o física, en su mayoría, por parte de su pareja, aunado a la dificultad que afrontan estas mujeres al permanecer confinadas en casa con sus agresores.
            Está claro que el confinamiento decretado por las autoridades sanitarias con motivo de la pandemia de COVID-19 ha intensificado la violencia en el hogar, de forma tal que paralelamente al coronavirus, se ha desarrollado otra pandemia a la sombra, y es la de la violencia hacia las niñas y las mujeres.
          </p>
          <h2>_</h2>
          <p class="blog-content">
            Asimismo, los servicios esenciales de casas de acogida, refugios y líneas de atención y de ayuda se han visto sobrepasados por las circunstancias. Por ello se requiere el esfuerzo y la responsabilidad por parte de todos, para terminar con este flagelo social.
          </p>
        </div>
        <div class="blog-post">
          <h1 class="blog-title">Tema 2019: Pinta el mundo de naranja, escúchame</h1>
          <h2>_</h2>
          <img src="{% static 'onumujeres.jpg' %}" alt="">
          <h2>_</h2>
          <p class="blog-content">
            El tema de la campaña para el año 2019 fue "Pinta el mundo de naranja: #EscúchameTambién". La fecha marcó el lanzamiento de los 16 días de activismo, que concluyeron el 10 de diciembre 2019, coincidiendo con la observación del Día de los Derechos Humanos.
            Se celebraron multitud de eventos alrededor de esta campaña, entre los cuales se tiñeron de naranja los edificios y monumentos más emblemáticos alrededor del mundo, para recordar la necesidad de crear un futuro sin violencia de género.          
          </p>
          <h2>_</h2>
          <p class="blog-content">
            La campaña se identificó en redes sociales con las etiquetas #DíaNaranja, #OrangeTheWorld y #EscúchameTambién.
          </p>
        </div>
      </div>
    </div>
  </div>

<footer>
  <img src="{% static 'firma blanco.png' %}" width="100" height="173">
  <div>
    <ul class="footer-menu-container">
      <li class="menu-item"><a href="https://tabasco.gob.mx/salud">SALUD | Portal Tabasco</a></li>
      <li class="menu-item"><a href="https://transparencia.tabasco.gob.mx/">Portal Transparencia</a></li>
      <li class="menu-item"><a href="http://www.itaip.org.mx/site/">ITAIP</a></li>
      <li class="menu-item"><a href="https://consultapublicamx.plataformadetransparencia.org.mx/vut-web/faces/view/consultaPublica.xhtml?idEntidad=Mjc=&idSujetoObligado=MA==#inicio">Plataforma Nacional de Transparencia</a></li>
      <li class="menu-item"><a href="https://tabasco.gob.mx/accesibilidad">Accesibilidad</a></li>
    </ul>
  </div>
  <span class="copyright">Gobierno del Estado de Tabasco &copy; Derechos Reservados</span>
</footer>
</body>
</html>