{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Formas de Violencia</title>
  <link rel="stylesheet" href="{% static 'styles1.css' %}">  
</head>
<body>
  <header>
    <h2>tabasco.gob.mx</h2>

    <ul class="main-menu">
      <li class="menu-item"><a class="active" href="/members">Inicio</a></li>
      <li class="menu-item"><a href="/members/origen">Origen</a></li>
      <li class="menu-item"><a href="/members/formas">Formas de Violencia</a></li>
      <li class="menu-item"><a href="/members/campañas">Campañas</a></li>
      <li class="menu-item"><a href="/members/quehacer">¿Qué hacer en contra de la violencia de genero?</a></li>
    </ul>
  </header>
  <div class="container">
    <div class="section">
      <div class="col span_2_of_3">
        <div class="blog-post">
          <h1 class="blog-title">Formas de violencia contra las mujeres</h1>
          <h2>_</h2>
          <p class="blog-content">
            Formas de violencia contra las mujeres La violencia contra las mujeres y niñas se manifiesta de forma física, sexual y psicológica, e incluye los siguientes supuestos:
          </p>
          <h2>_</h2>
          <ul class="ul-content">
            <li>Violencia por parte de un compañero sentimental (violencia física, maltrato psicológico, violación conyugal, feminicidio).</li>
            <li>Violencia sexual y acoso (violación, actos sexuales forzados, insinuaciones sexuales no deseadas, abuso sexual infantil, matrimonio forzado, acecho, acoso callejero, acoso cibernético).</li>
            <li>Trata de seres humanos (esclavitud, explotación sexual).</li>
            <li>Mutilación genital femenina (practicada en ciertas comunidades y culturas, asociada con creencias religiosas).</li>
            <li>Matrimonio infantil (niñas obligadas a contraer matrimonio en contra de su voluntad).</li>
          </ul>
          <h2>_</h2>
          <p class="blog-content">
            La población femenina es altamente vulnerable de sufrir violencia de género, especialmente las niñas y las mujeres de la tercera edad, mujeres pertenecientes a la comunidad LGBT (lesbianas, bisexuales, transgénero o intersex), las migrantes y refugiadas, las pertenecientes a pueblos indígenas o minorías étnicas, mujeres y niñas con VIH-Sida, discapacitadas y aquellas que habitan en países con crisis humanitarias.
          </p>
          <h2>_</h2>
          <img src="{% static 'violentometro.jpeg' %}" alt="">
        </div>  
      </div>
    </div>
  </div>

<footer>
  <img src="{% static 'firma blanco.png' %}" width="100" height="173">
  <div>
    <ul class="footer-menu-container">
      <li class="menu-item"><a href="https://tabasco.gob.mx/salud">SALUD | Portal Tabasco</a></li>
      <li class="menu-item"><a href="https://transparencia.tabasco.gob.mx/">Portal Transparencia</a></li>
      <li class="menu-item"><a href="http://www.itaip.org.mx/site/">ITAIP</a></li>
      <li class="menu-item"><a href="https://consultapublicamx.plataformadetransparencia.org.mx/vut-web/faces/view/consultaPublica.xhtml?idEntidad=Mjc=&idSujetoObligado=MA==#inicio">Plataforma Nacional de Transparencia</a></li>
      <li class="menu-item"><a href="https://tabasco.gob.mx/accesibilidad">Accesibilidad</a></li>
    </ul>
  </div>
  <span class="copyright">Gobierno del Estado de Tabasco &copy; Derechos Reservados</span>
</footer>
</body>
</html>