{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'styles1.css' %}">
  </head>
<body>
  <header>
    <h2>tabasco.gob.mx</h2>
    <ul class="main-menu">
      <li class="menu-item"><a class="active" href="/members">Inicio</a></li>
      <li class="menu-item"><a href="/members/origen">Origen</a></li>
      <li class="menu-item"><a href="/members/formas">Formas de Violencia</a></li>
      <li class="menu-item"><a href="/members/campañas">Campañas</a></li>
      <li class="menu-item"><a href="/members/quehacer">¿Qué hacer en contra de la violencia de genero?</a></li>
    </ul>
  </header>
  <h2>_</h2>
  <video src="{% static 'VideoViolencia.mp4' %}" autoplay muted loop alt=""></video>
  <div class="container">
    <div class="section">
      <div class="col span_2_of_3">
        <div class="blog-post">
          <img src="{% static 'diainternacional.png' %}" alt="">
          <h2>_</h2>
          <h1 class="blog-title">Día Internacional de la Eliminación de la Violencia contra la Mujer</h1>
          <h2>_</h2>
          <p class="blog-content">
            La violencia contra las mujeres y las niñas sigue siendo preocupante: una de cada tres mujeres se ve afectada por algún tipo de violencia de género y cada 11 minutos una mujer o niña muere asesinada por un familiar.
            Hace cinco años, el movimiento #MeToo, fundado por Tarana Burke en 2006, provocó una movilización mundial que manifestó la urgente necesidad de prevenir y responder a la violencia contra las mujeres. Otros movimientos en todo el mundo como #NiUnaMenos, #BalanceTonPorc, #TimesUp entre muchos otros, también catalizaron el cambio.
            Desde entonces, ha habido una sensibilización y un impulso sin precedentes para poner este tipo de violencia sobre las mesas de las agendas gubernamentales, con leyes y políticas, servicios esenciales y estrategias de prevención.
            Pero al mismo tiempo se ha producido un incremento de los movimientos antiderechos, incluidos los grupos antifeministas, lo que ha provocado una reducción del espacio reivindicativo, una reacción contra las organizaciones de derechos de las mujeres y un aumento de los ataques contra estas activistas.
            Apoyar e invertir en organizaciones y movimientos feministas fuertes y autónomos es fundamental para acabar con este tipo de violencia, de ahí que el tema de este año sea ¡ÚNETE! Activismo para poner fin a la violencia contra las mujeres y las niñas. 
            Llena con nosotros el mundo de color naranja para mostrar tu deseo de poner fin a la violencia de género.          
          </p>
          <h2>_</h2>
          <p class="blog-content">
            El 25 de noviembre se celebra el Día Internacional para la Eliminación de la Violencia contra la Mujer, con la finalidad de visibilizar la violencia contra las mujeres y niñas a nivel mundial.
            Se pretende fomentar la ejecución de políticas por parte de las naciones del mundo para la erradicación de la violencia de género, así como brindar apoyo y generar conciencia sobre la estigmatización y la vergüenza que sufren las víctimas.          
          </p>
        </div>
        <div class="blog-post">
          <h1 class="blog-title">Día Naranja contra la violencia hacia las mujeres</h1>
          <h2>_</h2>
          <img src="{% static 'dianaranja.jpg' %}" alt="">
          <h2>_</h2>
          <p class="blog-content">
            En el año 2009 ONU Mujeres lanzó la campaña "Di NO. ÚNETE", designando el 25 de cada mes como Día Naranja. Con esta iniciativa se pretendió movilizar a la sociedad civil y a los gobiernos, para que juntos ampliaran el impacto de la campaña.          </p>
          <h2>_</h2>
          <p class="blog-content">
            Se animó a los participantes a que llevaran puesta una prenda de vestir de color naranja para mostrar solidaridad con la campaña, ya que este color simboliza un futuro mejor y un mundo libre de violencia contra mujeres y niñas.          </p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <img src="{% static 'firma blanco.png' %}" width="100" height="173">
    <div>
      <ul class="footer-menu-container">
        <li class="menu-item"><a href="https://tabasco.gob.mx/salud">SALUD | Portal Tabasco</a></li>
        <li class="menu-item"><a href="https://transparencia.tabasco.gob.mx/">Portal Transparencia</a></li>
        <li class="menu-item"><a href="http://www.itaip.org.mx/site/">ITAIP</a></li>
        <li class="menu-item"><a href="https://consultapublicamx.plataformadetransparencia.org.mx/vut-web/faces/view/consultaPublica.xhtml?idEntidad=Mjc=&idSujetoObligado=MA==#inicio">Plataforma Nacional de Transparencia</a></li>
        <li class="menu-item"><a href="https://tabasco.gob.mx/accesibilidad">Accesibilidad</a></li>
      </ul>
    </div>
    <span class="copyright">Gobierno del Estado de Tabasco &copy; Derechos Reservados</span>
  </footer>
</body>
</html>